{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div style="padding:2em; display:flex; flex-direction:column; align-items:center; justify-content:center; min-height:80vh; gap:20px;">
<div>
    <img src="{% static 'img/atlas.png' %}">
    Your environment server is up and running!
</div>
<button
    id="view-data-btn"
    onclick="window.location.href='/start_simulation';"
    style="margin-top:20px; padding:15px 30px; font-size:18px; border-radius:10px;
           background:#007BFF; color:white; border:none; cursor:pointer;">
    Click Here to Start a Simulation
  </button> 
</div>
{% endblock content %}

